{% load jalali_tags %}
<div class="text-gray-100 w-full max-w-full mb-10  bg-gradient-to-br from-yellow-950 to-neutral-400 p-4 rounded-md shadow-2xl"
    x-data="{ tab: 'tab1' }">
    <!--Tabs-->
    <div class="flex border-b  ">
        <button @click=" tab ='tab1' "
            :class="text-gray-100 tab ==='tab1' ? 'border-stone-400 text-neutral-900' : 'border-transparent text-gray-500'"
            class=" w-1/2 py-2  text-center border-b-4 font-medium"> ویزیت های امروز --
            {{today|to_jalali:'%y/%m/%d'}}</button>
        <button @click="tab = 'tab2' "
            :class="text-gray-100 tab === 'tab2' ? 'border-neutral-900 text-stone-400' : 'border-transparent text-gray-500'"
            class="w-1/2 py-2 text-center border-b-4 font-medium"> ویزیت های هفتگی</button>
    </div>
    <!--Tab Content-->
    <div class="p-4 ">
        <div x-cloak x-show="tab ==='tab1'" class="transition-all">
            <h1 class="text-lg font-bold"> لیست مراجعین امروز </h1>
            <ul class="text-gray-600 bg-gray-200 rounded-md pt-1 pr-2 pb-1 flex flex-col w-5/12 ">
                <!-- <li class="text-gray-800  hover:bg-white/20 w-1/2 ">1</li>
                <li class="text-gray-800  hover:bg-white/20 w-1/2 ">2</li>
                <li class="text-gray-800  hover:bg-white/20 w-1/2">3</li>
                <li class="text-gray-800  hover:bg-white/20 w-1/2 ">4</li>
                <li class="text-gray-800  hover:bg-white/20 w-1/2 ">5</li> -->
                {% for visit in todayVisit %}
             
                 

                <li>{{ visit.first_name }} {{ visit.last_name }} - {{ visit.service.name }}</li>
                <!-- <li class="text-gray-800  hover:bg-white/20 w-1/2 "><p>{{ i.first_name }}</p></li> -->
                {% empty%}
                <li class="text-gray-800  hover:bg-white/20 w-1/2 ">هنوز هیچ ویزیتی ثبت نشده</li>
                {% endfor %}
            </ul>
        </div>

        <div class="transition-all" x-cloak x-show=" tab ==='tab2'">
            <h1 class="text-lg font-bold"> لیست مراجعین این هفته</h1>
            <ul class="text-gray-600 flex flex-col">
                <li class="text-gray-900  hover:bg-white/20 w-1/2">1</li>
                <li class="text-gray-900  hover:bg-white/20 w-1/2">2</li>
                <li class="text-gray-900 hover:bg-white/20 w-1/2">3</li>
                <li class="text-gray-900 hover:bg-white/20 w-1/2">4</li>
                <li class="text-gray-900 hover:bg-white/20 w-1/2">5</li>
            </ul>

        </div>
    </div>
</div>